/**
 * Stylesheet _task.scss
 */

.task {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    display: flex;

    &.dragging {
        background-color: lightgreen;
    }

    &-handle {
        width: 20px;
        height: 20px;
        background-color: orange;
        border-radius: 4px;
        margin-right: 8px;
    }
}
